<div class="mat-display-2" fxLayoutAlign.lt-sm="center" >Favoris</div>
<div class="field-container" fxLayout.xs="row" fxLayoutAlign.xs="center">
  <div class="card-list"  *ngIf="favoris$ | async as favoris">
    <div *ngFor="let favori of favoris">
      <div class="field-container" fxLayout.xs="row" fxLayoutAlign.xs="center">
      <app-card (click)="searchJdd(favori.id)"  [text]="favori.nom " [description]="favori.description" >
      </app-card>
      <button mat-raised-button (click)="deleteFiltre(favori.id)">X</button>
      </div>
    </div>
  </div>
</div>
