<div class="mat-display-2"  >Recherche d'un JDD</div>
<div class="field-container"  fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder="Rechercher un critere" [(ngModel)]="searchWord"
           (keyup)="searchFilter()">
  </mat-form-field>
</div>

<div>
<mat-selection-list class= "ListCrit" fxLayout="row wrap" fxLayoutAlign="center center"
                    (selectionChange)="onChange(criteres.selectedOptions.selected) " #criteres>
  <mat-list-option class="seleclist" [selected]="includeCrit(critere, selectCrit)" [value]="critere" *ngFor="let critere of criteres$">
    {{critere.nom}}
  </mat-list-option>
</mat-selection-list>
</div>
<div class="field-container" fxLayoutAlign="center center">
<button mat-raised-button  (click)="searchJdd()">Rechercher un JDD</button>
</div>

