.mat-display-2 {
  text-align: center;
  margin: 50px auto 20px auto;
}

.field-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 420px;
}

.mat-raised-button {
  display: flex;
  flex-wrap: wrap;
}
.ListCrit{
  margin: 20px;
}
.mat-list-option{
  width: 200px;
  margin: 10px;
  flex : 0 0 200px;
  border: 1px lightgray solid;
}
