.mat-display-2 {
  text-align: center;
  margin: 50px auto 100px auto;
}
.field-container {
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}

.detail-presentation {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}
