<div class="mat-display-2"  >Recherche d'un JDD</div>
<div class="field-container" >
  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder="Rechercher un critere" [(ngModel)]="searchWord"
           (keydown.enter)="searchFilter()">
    <mat-icon (click)="searchFilter()" matSuffix>search</mat-icon>
  </mat-form-field>
</div>


<mat-selection-list (selectionChange)="onChange(criteres.selectedOptions.selected) " #criteres>
  <mat-list-option [selected]="includeCrit(critere, selectCrit)" class="seleclist" [value]="critere" *ngFor="let critere of criteres$">
    {{critere.nom}}
  </mat-list-option>
</mat-selection-list>


<button mat-raised-button  (click)="searchJdd()">Rechercher un JDD</button>
