<div class="mat-display-2" fxLayoutAlign.lt-sm="center" >Recherche d'un JDD</div>
<div class="field-container" fxLayout.xs="column" fxLayoutAlign.xs="center">
  <mat-form-field>
    <input type="text" matInput placeholder="Rechercher un critere" [(ngModel)]="searchWord"
           (keydown.enter)="searchFilter()">
    <mat-icon (click)="searchFilter()" matSuffix>search</mat-icon>
  </mat-form-field>
</div>


<mat-selection-list >
  <mat-list-option *ngFor="let critere of criteres$ | async">
    {{critere.nom}}
  </mat-list-option>
</mat-selection-list>
<button mat-raised-button  onclick="searchJdd()">Rechercher un JDD</button>

